@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add styles for PostPreview component */
.PostPreview {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .PostPreview:last-child {
    border-bottom: none;
  }
  
  .PostPreview .cover-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .PostPreview .post-info {
    padding: 20px;
  }
  
  .PostPreview .post-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .PostPreview .post-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .PostPreview .post-info .price {
    font-size: 2rem;
    font-weight: medium;
    color: #333;
  }

  .PostPreview .post-info .description {
    font-size: 2rem;
    font-weight: small;
    color: #333;
  }
  
  .PostPreview .post-info .quantity {
    font-size: 16px;
    color: #666;
  }
  
  /* Add styles for NewArrivals component */
  /* .NewArrivals {
    margin-bottom: 64px;
  } */
  
  .NewArrivals h2 {
    font-size: 24px;
    font-weight: small;
    margin-bottom: 16px;
  }

  .NewArrivals .title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  

  .CategoryPage .title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .load-more-btn {
    background-color: #fff; 
    border: 1px solid #000; 
    color: #000; 
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .load-more-btn:hover {
    background-color: #000;
    color: #fff;
  }
  
  .load-more-btn:hover:hover {
    background-size: 100% 100%;
  }

  .custom-header {
    color: grey;
    font-family: Roboto;
  }